.nav-logo img
{
    width: 100px;
    height: 100px;
    margin-top: 0px;
    margin-left: 0px;
}
.nav-links ul
{
    margin-left: 30px;
    display: inline;
    float: right;
}
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul a
{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.nav-links ul li::after
{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
    width: 100%;
}
.banner-title h1
{
    font-size: 54px;
    margin-bottom: 30px;
    font-weight: bold;
}
.banner-title h1 span
{
    color: yellow;
}
.nav-bar .fas
{
    margin: 45px 23px;
    display: block;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 8px;
}

.contents a
{
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin: 0 10px;
}
.contents p
{
    text-align: center;
    margin-top: 10px;
    padding-top: 40px;
}
.contents h1
{
    margin-left: 300px;
    margin-top: 100px;
}
.nav-bar .fas
{
    display: none;
}
.container2 p
{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    line-height: 1.2;
}
.container10 h3
{
    color: white;
    margin-top: 40px;
    text-align: center;
}

