#container1
{
    height: 600px;
    background-color: black;
    background-image: url(https://images.wallpaperscraft.com/image/water_waves_ripples_151390_300x188.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 600px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
#container2
{
    height: 400px;
    margin-left: 5px;
    background-color: white;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
}
#container3
{
    height: 200px;
    margin-left: 5px;
    background-color: yellow;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
#container4
{
    height: 100vh;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23E3C9;

}
#container5
{
    height: 200px;
    margin-left: 5px;
    background-color: darkgray;
    margin: -10px;
    display: flex;
}
#container1a
{
    margin-top: 0px;
}
#c1
{
    background-color: black;
    width: 400px;
}
#c2
{
    background-color: black;
    width: 400px;
}
#c3
{
    background-color: black;
    width: 400px;
}
#c4
{
    background-color: black;
    width: 400px;
}
#c5
{
    background-color: white;
    width: 600px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 600px 600px;

}
#c6
{
    background-color: white;
    width: 800px;

}
