*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#hero
{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(121, 67, 67, 0.4),rgba(0,0,0,0.3)),url(https://i.pinimg.com/originals/f5/25/6f/f5256f22b9dea5d4eb80c41f91f87793.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar
{
    display: flex;
    padding: 40px 40px;
}
.nav-links
{
    flex: 1;
}
.banner-title
{
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 120px;
    height: 180px;
    color: white;
    position: relative;
}
.break
{
    height: 100px;
    background-color: white;
}
.container1
{
    height: 600px;
    background-color: white;
    position: relative;
}
.contents
{
    flex-basis: 50%;
    padding: 10px;
}
.container2
{
    height: 300px;
    background-image: linear-gradient(rgba(121, 67, 67, 0.4),rgba(0,0,0,0.3)),url(Images/Back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: none;
}
.container3
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.container4
{
    height: 500px;
    background-color: white;
    position: relative;
}
.container5
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.container6
{
    height: 750px;
    background-color: white;
    position: relative;
}
.container7
{
    height: 400px;
    background-color: white;
}
.container8
{
    height: 600px;
    background-color: white;
}
.container9
{
    height: 250px;
    background-color: black;
}
.container10
{
    display: flex;
}
#c1
{
    width: 100%;
}
#c2
{
    width: 100%;
}
#c3
{
    width: 100%;
}
#c4
{
    width: 100%;
}
#c5
{
    width: 100%;
}