.btn
{
    box-shadow: 0 10px 20px gray;
    width: 120px;
    height: 120px;
    top: -30px;
    left: 5px;
    position: relative;
    border-radius: 10px;
    margin-top: 25px;
    display: block;
}
.btn:hover 
{
    box-shadow: 0 5px 10px gray;
    transform: scale(0.9);
}
.button1
{
    background: url(logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid white;
}
.btn1
{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
    margin-left: 400px;
    margin-top: 20px;
}



