*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#hero
{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(121, 67, 67, 0.4),rgba(0,0,0,0.3)),url(waterpollution6.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar
{
    display: flex;
    padding: 40px 40px;
}
.nav-links
{
    flex: 1;
}
.banner-title
{
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 120px;
    height: 250px;
    color: white;
    position: relative;
}
.container1
{
    height: 700px;
    background-color: rgb(63, 110, 110);
    position: relative;
}
.contents
{
    flex-basis: 50%;
    padding: 10px;
}
.container2
{
    height: 800px;
    background-color: rgb(92, 143, 143);
    position: relative;
    
}
.place
{
    display:flex;
}
.container3
{
    height: 600px;
    background-color: rgb(93, 182, 170);
    position: relative;
}
.container4
{
    height: 800px;
    background-color: rgb(125, 187, 178);
    position: relative;
}
h1
{
    color:white;
    font-size:40px;
    
}
.para
{
    background-color: rgb(38, 72, 75);
    font-size: 30px; 
    font-weight: bold;
    padding: 10px;
    position: absolute;
    text-align: center;
    mix-blend-mode: screen;
    transform: translate(0%,10%);
    border-radius:32px;
    
    
}
#para1
{
    padding-top:200px;
    font-size: 35px;
    text-align: center;
    color:rgb(213, 221, 223);
}
#para3
{
    padding-top:200px;
    font-size: 35px;
    text-align: center;
    color:rgb(213, 221, 223);
}
.para99
{
    background-color: rgb(71, 118, 136);
    font-size: 30px; 
    font-weight: bold;
    padding: 10px;
    
    position: absolute;
    text-align: center;
    mix-blend-mode: screen;
    transform: translate(55%, 20%);
    border-radius:32px;
}
.con
{   width:30%;
    height:100%;
    border:3px solid rgb(214, 214, 214);
    border-radius: 25px;
    margin-left:2.5%;
}

.conin
{
   color:lavender;
   padding:10px;
   font-size:20px;
   
}
.img1
{
    border-radius: 25px;
    height:60%;
    width:100%;
}
h2
{
    color:lightcyan;
    font-size:25px;
    padding-top:20px;
    padding-left:10px;
}
